@font-face {
    font-family: 'Caladea';
    src: url('Caladea-Bold.eot');
    src: url('Caladea-Bold.eot?#iefix') format('embedded-opentype'),
        url('Caladea-Bold.woff2') format('woff2'),
        url('Caladea-Bold.woff') format('woff'),
        url('Caladea-Bold.ttf') format('truetype'),
        url('Caladea-Bold.svg#Caladea-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('Aileron-Regular.eot');
    src: url('Aileron-Regular.eot?#iefix') format('embedded-opentype'),
        url('Aileron-Regular.woff2') format('woff2'),
        url('Aileron-Regular.woff') format('woff'),
        url('Aileron-Regular.ttf') format('truetype'),
        url('Aileron-Regular.svg#Aileron-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
     margin: 0;
     padding: 0;
}
a{
    text-decoration:  none;
}
li{
    list-style: none;
}
html{
    font-size: 20px;
}
h1{
    font-family: 'Caladea';   
}
p{
    font-family: 'Aileron';
    font-size: 18px;    
}
header{
   font-size: 18px;
   color: #7a7a7a;
}
#mark_prew{
    background: url(https://pp.userapi.com/c845219/v845219278/105747/7xAolmi5ho8.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
}
.mark{
    padding-top: 14rem;
}
.mark h1{
    font-size: 48px;
}
.mark p{
    padding-top: 2rem;
    padding-bottom: 31.5rem;
}
.introducing h1{
    font-size: 36px;
    padding-top: 17.5rem;   
}
.introducing_block p{
    padding-top: 2.5rem;
}
.li1 {
    list-style-image: url(../img/star.png); /* Путь к изображению маркера */
 }
.li2 {
    list-style-image: url(../img/hearth.png); /* Путь к изображению маркера */
 }
.li3 {
    list-style-image: url(../img/moon.png); /*Путь к изображению маркера */
 }
.introducing_info ul{
    padding-left: 4rem;
} 
.introducing img{
    padding-top: 0.7rem;
}
.content{
    padding-top: 2rem;
}
.introducing_content{
    padding-left: 30px;
    padding-bottom: 2.25em;
}
.introducing_content p{
    padding-top: 0.4rem;
}
.discover h1{
    padding-top: 15.5rem;
    font-size: 36px;
}
.discover{
    background-color: #d63c37;
}
.discover_content{
    padding-top: 5rem;   
}
.img_right{
    width: 60px;
    height: 60px;
}
.discover_content1 {
    padding-top: 4.95rem;
}
.discover_content4 {
    padding-top: 5rem;
}

.discover_content2{
    padding-top: 9.5rem;
}
.discover_content3{
    padding-top: 8rem;
}
.discover_content5{
    padding-top: 10.5rem;
}